<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>

    <title></title>
</head>
<body>
    <nav class="navbar navbar-inverse">
        <div class="container-fluid">
          <div class="navbar-header">
            <a class="navbar-brand" href="#">BooksForWorms</a>
          </div>
          <ul class="nav navbar-nav">
            <li><a href="homepage.html">Home</a></li>
            <li><a href="recommendation.html">Recommendation</a></li>
            <li class="active"><a href="library.html">Your Library</a></li>
            <li><a href="homepage.html">Sign Out</a></li>
          </ul>
        </div>
      </nav>
      
      <div class="container">
        <table id="example" class="table table-striped table-bordered" style="width:100%">
            <thead>
                <tr>
                    <th>Title</th>
                    <th>Author</th>
                    <th>Genre</th>
                    <th>Year</th>
                    <th>Fiction</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>Sparring Partners</td>
                    <td>Josh Grisham</td>
                    <td></td>
                    <td></td>
                    <td>Fiction</td>
                </tr>
                <tr>
                    <td>Tom Clancy Zero Hour</td>
                    <td>Don Bentley</td>
                    <td></td>
                    <td></td>
                    <td>Fiction</td>
                </tr>
        </table>
      </div>
    
</body>
</html>