<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css"
    />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <title>Register</title>
  </head>
  <body>
    <nav class="navbar navbar-inverse">
      <div class="container-fluid">
        <div class="navbar-header">
          <a class="navbar-brand" href="#">BooksForWorms</a>
        </div>
        <ul class="nav navbar-nav">
          <li><a href="homepage.html">Home</a></li>
          <li><a href="recommendation.html">Recommendation</a></li>
          <li><a href="login.html">Login</a></li>
          <li class="active"><a href="register.html">Register</a></li>
        </ul>
      </div>
    </nav>

    <div class="container">
      <h3 class="fw-normal mb-3 pb-3" style="letter-spacing: 1px;">Register</h3><br>
      <form style="width: 23rem;" action="#">
        <div class="form-group">
          <label for="username">Username</label><br> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
          <input
            type="username"
            class="form-control"
            id="username"
            placeholder="Enter username"
            name="username"
          />
        </div>
        <div class="form-group">
          <label for="pwd">Password</label><br> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
          <input
            type="password"
            class="form-control"
            id="pwd"
            placeholder="Enter password"
            name="pwd"
          />
        </div>
        <div class="form-group">
          <label for="email">Email</label><br> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
          <input
            type="email"
            class="form-control"
            id="email"
            placeholder="Enter email"
            name="email"
          />
        </div><br>
        <button type="submit" class="btn btn-info btn-lg btn-block">Register</button>
      </form>
    </div>
  </body>
</html>
